@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 70px;
}
.custom-nav{
	background-color: #403f61;
	
	.navbar-brand{
		color:#f5f2f7;
	}
	
	ul.navbar-nav{
		
		li a{
		text-decoration:none;
		color: #f5f2f7;
		}

	}
	
}

