@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 70px;
}
.custom-nav{
	background-color: #403f61;
	
	.navbar-brand{
		color:#f5f2f7;
	}
	
	.btn-warning{
		margin-left: 25px;
		border-radius: 10px;
		background-color: #75d1c5;
		border-color: #75d1c5;

		a{
		text-decoration:none;
		color: #f5f2f7;
		}

	}
	
}

