@import "bootstrap-sprockets";
@import "bootstrap";

$tt_col: #f5f2f7;

body {
	padding-top: 70px;
}
.custom-nav{
	background-color: #403f61;
	
	.navbar-brand{
		color:$tt_col;
	}
	
	ul.navbar-nav{
		
		li a{
		text-decoration:none;
		color: $tt_col;
		}
	}	
}

.postContainer{
	form{
		.btn-info{
			float: right;
		}
	}	
}

// .postBox{
// 	border: 1px solid #ccc;
// }